<div class="category-list-container">

    <h3>Liste des catégories</h3>

    <mat-table mat-table [dataSource]="categories$" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let category"> {{category.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
            <mat-cell *matCellDef="let category"> {{category.label}} </mat-cell>
        </ng-container>

        <!--    <ng-container matColumnDef="actions">-->
        <!--      <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
        <!--      <mat-cell *matCellDef="let vehicle">-->
        <!--        <a mat-icon-button [routerLink]="'/vehicle/edit/' + vehicle.id" class="button-edit">-->
        <!--          <mat-icon>edit</mat-icon>-->
        <!--        </a>-->
        <!--        <button mat-icon-button (click)="deleteVehicle(vehicle.id)" class="button-delete">-->
        <!--          <mat-icon>delete</mat-icon>-->
        <!--        </button>-->
        <!--      </mat-cell>-->
        <!--    </ng-container>-->

        <ng-container matColumnDef="addCategoryColumn">
            <mat-footer-cell *matFooterCellDef>
                <a mat-flat-button color="primary" [routerLink]="'/category/edit/new'" class="button-add">
                    Ajouter une nouvelle catégorie
                </a>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-footer-row *matFooterRowDef="['addCategoryColumn']"></mat-footer-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
